<h1><%= @race.name %></h1>

<div class="scrollable_race">
  <div class="api_stats">

    <strong><label>Speed:</label></strong></br>
    <%= @race.speed %></br>
    </br>

    <strong><label>Ability Bonuses:</label></strong></br>
    <% stat_names = ["Strength",'Dexterity','Constitution','Intelligence','Wisdom','Charisma'] %>
    <% zipped = Hash[stat_names.zip(@race.ability_bonuses.split(""))] %>
    <% zipped.each do |k,v| %>
      <%= "-#{k}: #{v}-" %>
    <% end %>
    <br>
    <%= "Half-Elves also get to add +1 to any two different stats except charisma." if @race.name == "Half-Elf" %>
    </br>
    </br>

    <strong><label>Alignment:</label></strong></br>
    <%= @race.alignment %></br>
    </br>

    <strong><label>Age:</label></strong></br>
    <%= @race.age %></br>
    </br>

    <strong><label>Size:</label></strong></br>
    <%= @race.size %></br>
    </br>

    <strong><label>Languages:</label></strong></br>
    <%= @race.languages %></br>
    </br>

    </br>

    <%= link_to "Races Index", races_path %>
    <br>
    
  </div>
</div>
