<!DOCTYPE html>
<html>
  <head>
    <title>DndCampaignBuilder</title>
    <%= csrf_meta_tags %>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="home">
      <nav class="navbar navbar-expand-lg">

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
              <a class="navbar-brand" href="#">
                <img src="dicelogo.png" width="30px" height="30px" alt="">
              </a>
              <li class="nav-item active">
                <%= link_to "Sign Up", new_user_path, class: "nav-link" %>
              </li>
              <li class="nav-item active">
                <%= link_to "Login", login_path, class: "nav-link" %>
              </li>
            </ul>
          </div>

        </nav>

        <div class="container">
          <div class="row">
            <div class="col">
            <%= flash[:titties] if flash[:titties] %>
            <%= yield %>
          </div>
        </div>
      </div>
  </body>
</html>
