
<datalist id="spell_autocomplete">
  <% @character.class_name.spells.each do |spell| %>
    <option value="<%= spell.name %>"></option>
  <% end %>
</datalist>
<div>
  <h1><%= @character.name %>'s page</h1>
</div>
<div>
  <h2>Player: <%= link_to @character.player.name, user_path(@character.player) %></h2>
  <% if @character.campaigns.any? %>
    <h2>Campaign: <%= link_to @character.campaign.name, campaign_path(@character.campaign) %></h2>
  <% else%>
    <% if Campaign.any? && @character.player == current_user %>
      <p>Join Campaign:
      <%= form_tag "/users/#{@character.player.id}/characters/#{@character.id}/join_campaign", method:'patch' do %>
        <%= select_tag "character[campaign_id]", options_from_collection_for_select(Campaign.all, "id", "name") %>
        <%= submit_tag "Join Campaign"%>
      <% end %>
    <% else %>
        <p><%= @character.name %> is not in a campaign</p>
    <% end %>
    </p>
  <% end %>
</div>
<div class="scrollable">
  <h3>Info:</h3>

  Level: <%= @character.level %>
  <br>
  Race: <%= link_to @character.race.name, race_path(@character.race) %>
  <br>
  Class: <%= link_to @character.class_name.name, class_name_path(@character.class_name) %>
  <br>
  Strength: <%= str = @character.strength.to_i + @character.race.ability_bonuses[0].to_i %> (<%= (str / 2) - 5 %>)
  <% if @character.race.ability_bonuses[0].to_i != 0 %>
    <%= " | (+ #{@character.race.ability_bonuses[0]} from #{@character.race.name})" %>
  <% end %>
  <br>
  Dexterity: <%= dex = @character.dexterity.to_i + @character.race.ability_bonuses[1].to_i %> (<%= (dex / 2) - 5 %>)
  <% if @character.race.ability_bonuses[1].to_i != 0 %>
    <%= " | (+ #{@character.race.ability_bonuses[1]} from #{@character.race.name})" %>
  <% end %>
  <br>
  Constitution: <%= con = @character.constitution.to_i + @character.race.ability_bonuses[2].to_i %> (<%= (con / 2) - 5 %>)
  <% if @character.race.ability_bonuses[2].to_i != 0 %>
    <%= " | (+ #{@character.race.ability_bonuses[2]} from #{@character.race.name})" %>
  <% end %>
  <br>
  Intelligence: <%= int = @character.intelligence.to_i + @character.race.ability_bonuses[3].to_i %> (<%= (int / 2) - 5 %>)
  <% if @character.race.ability_bonuses[3].to_i != 0 %>
    <%= " | (+ #{@character.race.ability_bonuses[3]} from #{@character.race.name})" %>
  <% end %>
  <br>
  Wisdom: <%= wis = @character.wisdom.to_i + @character.race.ability_bonuses[4].to_i %> (<%= (wis / 2) - 5 %>)
  <% if @character.race.ability_bonuses[4].to_i != 0 %>
    <%= " | (+ #{@character.race.ability_bonuses[4]} from #{@character.race.name})" %>
  <% end %>
  <br>
  Charisma: <%= cha = @character.charisma.to_i + @character.race.ability_bonuses[5].to_i %> (<%= (cha / 2) - 5 %>)
  <% if @character.race.ability_bonuses[5].to_i != 0 %>
    <%= " | (+ #{@character.race.ability_bonuses[5]} from #{@character.race.name})" %>
  <% end %>
  <% if @character.race.name == "Half-Elf" %>
    <div class="">
      <p>Half Elves also get to add 1 point to any two different stats except charisma</p>
    </div>
  <% end %>
  <br>
  <br>
  Skills: (Proficiency Bonus:  <%= proficiency_bonus %>)<br>
  <ul>
    <% Skill.all.each do |skill| %>
      <% output = raw_to_modifier(@character.send(ability_score_to_full_word(skill.ability_score)).to_i + @character.race.ability_bonuses[ability_score_to_index(skill.ability_score)].to_i) %>
      <% if proficient = character_is_proficient?(skill) %>
        <% output += proficiency_bonus %>
      <% end %>
      <li><%= link_to skill.name, skill_path(skill) %> - (<%= output %>)
        <% if proficient %>
          proficient
        <% end %>
      </li>
    <% end %>
  </ul>
  <br>
  <br>
  <% if @character.spells.any? %>
    <div class="">
      <h3>Known Spells: </h3>
      <ul>
        <% @character.spells.each do |spell| %>

            <li>
              <%= link_to spell.name, spell %>  <% if @character.player == current_user %> | <%= link_to "Forget Spell", "/users/#{@character.player.id}/characters/#{@character.id}/forget_spell/#{spell.id}", method:'delete' %>
              <% end %>
            </li>

        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @character.player == current_user %>
    <% unless @character.class_name.spells.none? %>
      <div class="">
        <h3>Learn Spell</h3>
        <%= form_tag "/users/#{@character.player.id}/characters/#{@character.id}/learn_spell", method:'patch' do %>
          <%= text_field_tag "spell",'',{list:'spell_autocomplete', placeholder:'Type Spell Name'} %>
          <%= submit_tag "Add Spell"%>
        <% end %>
      </div>
    <% end %>
    <div>
      <%= link_to "Edit #{@character.name}", edit_user_character_path(@character) %>
      <br>
      <%= link_to "Delete #{@character.name}", "/users/#{@character.player.id}/characters/#{@character.id}", method:'delete' %>
    </div>
  <% end %>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
