<div>
  <% if @campaign.errors.any? %>
    <ul>
      <% @campaign.errors.full_messages.each do |fm| %>
        <li><%= fm %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_for @campaign do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.submit %>
  <% end %>
</div>
