<h1><%= @campaign.name %></h1>
<h3>DM: <%= link_to @campaign.user.name, user_path(@campaign.user) %></h3>
<h4>Description:</h4>
<p><%= @campaign.description %></p>
<h4>Characters:</h4>
<ul>
  <% @campaign.characters.each do |character| %>
    <li><%= link_to character.name, user_character_path(character.player, character) %>
    <% if @campaign.name != "No Campaign" %>
      <%= link_to "Remove from Campaign", "/campaigns/#{@campaign.id}/characters/#{character.id}/remove_campaign", method:'patch' %>
    <% end %>
    </li>
  <% end %>
</ul>
<br>
<%= link_to "Edit #{@campaign.name}", edit_user_campaign_path(@campaign.user, @campaign) %>
<br>
<%= link_to "Delete Campaign", "/users/#{@campaign.user.id}/campaigns/#{@campaign.id}", method:'delete' %>
